<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  <title>noisereduce api</title>
</head>

<body>
  <main class="container">
    <article>
      <header>noisereduce API - Upload .wav</header>
      <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
      </form>
    </article>

    <article>
      <header>Parameter Defaults</header>
      <p>
        <span>Eg.</span><code>/noisereduce?stationary=True</code>
      </p>
      <ul>
        <li><code>stationary=True</code></li>
      </ul>
    </article>
  </main>
</body>

</html>