<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <title>nvidia maxine api</title>
  </head>
  <body>
    <main class="container">
      <article>
        <header>nvidia Maxine API - Upload .wav</header>
        <form method=post enctype=multipart/form-data>
          <input type=file name=file>
          <input type=submit value=Upload>
        </form>
      </article>

      <article>
        <header>Parameter Defaults</header>
        <p>
          <span>Eg.</span><code>/nvidia?effect=denoiser&intensity_ratio=0.5</code>
        </p>
        <ul>
          <li><code>effect=dereverb_denoiser</code></li>
          <li><code>sample_rate=16000</code></li>
          <li><code>intensity_ratio=1.0</code></li>
        </ul>
      </article>
    </main>
  </body>
</html>