asn1crypto==0.24.0
black==22.1.0
click==8.0.4
cryptography==2.1.4
dataclasses==0.8
Flask==2.0.3
idna==2.6
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==2.0.1
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.4.0
pycrypto==2.6.1
pygobject==3.26.1
pyxdg==0.25
SecretStorage==2.3.1
shortuuid==1.0.8
six==1.11.0
tensorrt==8.0.1.6
tomli==1.2.3
typed-ast==1.5.2
typing-extensions==4.1.1
Werkzeug==2.0.3
zipp==3.6.0