asn1crypto
black
click
dataclasses
Flask
idna
importlib-metadata
itsdangerous
Jinja2
keyring
keyrings.alt
MarkupSafe
mypy-extensions
pathspec
platformdirs
pyxdg
SecretStorage
shortuuid
six
tensorrt
tomli
typed-ast
typing-extensions
Werkzeug
zipp
deepspeech-gpu
